body {
  font-family: 'Open Sans', sans-serif; }

html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif; }

.example-snip {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  margin-bottom: 25px; }

.example-snip p {
  margin-bottom: 20px; }

.example-snip pre {
  margin-top: 20px; }

.indent {
  margin-left: 20px; }

.heading {
  background-color: rgba(57, 172, 130, 0.2); }

.heading h4 {
  color: #999;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 30px; }

.heading h1 {
  margin-bottom: 0px; }

.heading a {
  color: #666; }

.heading a:active, .heading a:hover {
  color: #222;
  text-decoration: underline; }

pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0; }

.heading-glyph {
  margin-left: 20px; }

.pln {
  color: #000; }

@media screen {
  .str {
    color: #080; }

  .kwd {
    color: #008; }

  .com {
    color: #800; }

  .typ {
    color: #606; }

  .lit {
    color: #066; }

  .pun, .opn, .clo {
    color: #660; }

  .tag {
    color: #008; }

  .atn {
    color: #606; }

  .atv {
    color: #080; }

  .dec, .var {
    color: #606; }

  .fun {
    color: red; } }
@media print, projection {
  .str {
    color: #060; }

  .kwd {
    color: #006;
    font-weight: bold; }

  .com {
    color: #600;
    font-style: italic; }

  .typ {
    color: #404;
    font-weight: bold; }

  .lit {
    color: #044; }

  .pun, .opn, .clo {
    color: #440; }

  .tag {
    color: #006;
    font-weight: bold; }

  .atn {
    color: #404; }

  .atv {
    color: #060; } }
pre.prettyprint {
  padding: 2px;
  border: 1px solid #888; }

ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none; }

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eee; }

pre {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
  overflow: auto; }

pre.prettyprint {
  padding: 15px; }

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333; }

pre .nocode {
  background-color: none;
  color: #000; }

pre .str {
  color: #ffa0a0; }

/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold; }

pre .com {
  color: #87ceeb; }

/* comment - skyblue */
pre .typ {
  color: #98fb98; }

/* type    - lightgreen */
pre .lit {
  color: #cd5c5c; }

/* literal - darkred */
pre .pun {
  color: #fff; }

/* punctuation */
pre .pln {
  color: #fff; }

/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold; }

/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold; }

/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0; }

/* attribute value - pink */
pre .dec {
  color: #98fb98; }

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE; }

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none; }

/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none; }

  pre .str, code .str {
    color: #060; }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold; }

  pre .com, code .com {
    color: #600;
    font-style: italic; }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold; }

  pre .lit, code .lit {
    color: #044; }

  pre .pun, code .pun {
    color: #440; }

  pre .pln, code .pln {
    color: #000; }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold; }

  pre .atn, code .atn {
    color: #404; }

  pre .atv, code .atv {
    color: #060; } }
