body {
	font-family: 'Open Sans', sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
}  

.example-snip {
	border-bottom: 1px solid #CCC;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

	.example-snip p {
		margin-bottom: 20px;
	}

	.example-snip pre {
		margin-top: 20px;
	}

.indent {
	margin-left: 20px;
}

.heading {
	background-color: rgba(57, 172, 130, 0.2);
}

	.heading h4 {
		color: #999;
		font-weight: 400;
		margin-top: 5px;
		margin-left: 30px;
	}

	.heading h1 {
		margin-bottom: 0px;
	}

	.heading a {
		color: #666
	}

		.heading a:active, .heading a:hover {
			color: #222;
			text-decoration: underline;
		}

pre {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

